html,
body {
  background: #ffffff;
  font-family: sans-serif;
  width: auto;
  margin: auto;
}

header {
  position: relative;
  min-width: 940px;
  margin: auto;
  width: 940px;
}

.line {
  padding-top: 32px;
  padding-bottom: 32px;
  width: 940px;
}

nav {
  position: relative;
  text-align: center;
}

nav ul {
  height: 23px;
}

nav ul li {
  display: inline;
  /* margin-left: 70px;
  margin-right: 70px; */
  font-family: Gilroy-Bold;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #828282;
}

nav ul li a {
  display: inline-block;
  width: 217px;
  text-decoration: none;
  color: #828282;
}

nav ul li:first-child {
  margin-left: -140px;
}

nav ul li:last-child {
  margin-right: -90px;
}

hr {
  width: 940px;
}

table {
  width: 100%;
  width: 950px;
  /* border-collapse: collapse; /*убираем пустые промежутки между ячейками*/
  /* border: 1px solid grey; */
  table-layout: fixed;
  margin: auto;
}
/* 
table td {
  border: 1px solid grey;
} */

table tr td:first-child {
  font-family: Gilroy-Bold;
  font-size: 35px;
  font-family: sans-serif;
  line-height: 59px;
}

.center {
  text-align: center;
  font-family: Gilroy-Medium;
  font-family: sans-serif;
  font-size: 18px;
}

table tr td:last-child {
  font-family: Gilroy-Bold;
  font-size: 16px;
  font-family: sans-serif;
}

/* .blocks {
  display: flex;
  justify-content: space-between;
}

.block {
  display: inline-block;
}

.block:first-child {
  font-family: Gilroy-Bold;
  font-size: 30px;
  padding-top: 40px;
  padding-bottom: 30px;
} */

.rotate {
  writing-mode: tb-rl;
  transform: rotate(180deg);
  float: right;
}

.pict {
  width: 100%;
  width: 943px;
  margin: auto;
}

.Home1 {
  padding-bottom: 104px;
}

.About_Me2 {
  position: relative;
  width: 485px;
  background-color: #f6f6f6;
  text-align: center;
  font-family: sans-serif;
  width: auto;
}

.About_Me2 h1 {
  padding-top: 120px;
  font-family: Gilroy-Bold, sans-serif;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
}

.text {
  font-family: Gilroy-Medium, sans-serif;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding-bottom: 107px;
}

.Skills3 {
  position: relative;
  background-color: #ffffff;
  margin: auto;
  text-align: center;
  width: 940px;
  padding-bottom: 110px;
}

.Skills3 h1 {
  margin-top: 90px;
  margin-bottom: 69px;
  font-family: Gilroy-Bold, sans-serif;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
}
.text_programs {
  font-family: Gilroy-Medium, sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.Skills3 .programs p {
  font-family: Gilroy-Bold, sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  top: 35.29%;
  bottom: 64.14%;
}

.programs {
  width: 940px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.programs .program {
  align-items: flex-start;
  text-align: center;
  padding: 24px;
  box-sizing: border-box;
  margin: auto;
}

.stars {
  width: 26px;
  margin: 0 auto;
  display: inline;
}

.stars span {
  display: inline-block;
  padding: 0;
  font-size: 32px;
  margin: 0 3px;
  line-height: 1;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}

.stars > span::before {
  content: "★";
}

.stars > span.active {
  color: black;
  /* text-shadow: 1px 1px blue; */
}

.Portfolio4 {
  padding-top: 112px;
  background: #f6f6f6;
}

.Portfolio4 h1 {
  font-family: Gilroy-Bold, sans-serif;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 47px;
}

.Portfolio4 p {
  font-family: Gilroy-Medium, sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-decoration-line: underline;
  padding-top: 45px;
  padding-bottom: 99px;
}

.Contacts5 {
  padding-top: 114px;
  padding-bottom: 123px;
}

.Contacts5 h1 {
  font-family: Gilroy-Bold, sans-serif;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
}

.Contacts5 p {
  font-family: Gilroy-Medium, sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 29px;
}

a.Mess {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);

  font-family: Gilroy-Bold, sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: white;

  text-decoration: none;
  padding: 0.5em 2em;
  border-radius: 30px;
  background: black;
  margin-bottom: 85px;
}

.links {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-bottom: 45px;
}

.link {
  box-sizing: border-box;
  margin: auto;
  height: 40.92px;
}

.Contacts5 p:last-child {
  font-family: Gilroy-Medium, sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
}
